<%= simple_form_for [@trip, @transportation, @ticket] do |f|  %>
  <progress class="progress" value="0" max="100" aria-describedby="example-caption-6">
  <div class="progress">
    <span class="progress-bar" style="width: 25%;">
    </span>
  </div>
</progress>

  <%= f.button :submit, "Valider" %>
<% end %>

<script>


</script>
