<h1>Add a ticket</h1>
<%= simple_form_for [@trip, @transportation, @ticket] do |f|  %>
  <%= f.filepicker_field :filepicker_url, button_text: "Upload", button_class:"btn btn-warning", services: "COMPUTER, GMAIL, GOOGLE_DRIVE, DROPBOX" %>
  <%= f.submit "Validate", class:"btn btn-primary" %>
  <% end %>
