/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import '_bootstrap-custom';
 @import "font-awesome";

body {
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/e_grayscale/v1473335098/nomadtrip/IMG_20160904_112744.jpg");
}

.title-pages {
  margin-bottom: 50px;
}

.link-menu {
  text-transform: uppercase;
}

.spacer-margin {
  margin-top: 80px;
}

.spacer-bottom {
  padding-bottom: 100px;
}
