// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-dashboard {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.link-map {
  color: #373a3c;
  &:hover {
    text-decoration: none;
    
  }
}
