// Place all the styles related to the transportations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.width-card-acmd {
  height: 400px;
}

.card-doc {
  position: relative;;
  padding: 5px;
}

.delete-ticket {
  position: absolute;;
  top: 0px;
  right: 0px;
}

.size-btn {
  width: 50%;
  border-radius: 100px;
}
