// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .trips_content:hover {
//   background-color: #ECECEC;
//   border-radius: 5px;
// }

.color-link {
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
}

.cancel-red {
  color: red;
}
