// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .trips_content:hover {
//   background-color: #ECECEC;
//   border-radius: 5px;
// }

.color-plane {
  color: gray;
}

.color-train {
  color: green;
}

.color-bus {
  color: orange;
}

.color-car {
  color: red;
}

.color-boat {
  color: blue;
}

.color-link-city:hover {
  text-decoration: none;
}
.cancel-red {
  color: #F62459;
}

.link-add a {
  color: #55595c;
  &:hover {
    text-decoration: none;
    color: black;
    }
}

.link-add:hover {
  padding: 2px;
  color: #55595c;
  background-color: #F62459;
  border-radius: 5px;
}

.link-trip {
  color: #55595c;
  &:hover {
    text-decoration: none;
    color: #F62459;
  }
}

.li-menu a{
  color: white;
  margin-left: 10px;
  &:hover {
    color: #F62459;
    text-decoration: none;
  }
}

.dday {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #F62459;
}
