// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .trips_content:hover {
//   background-color: #ECECEC;
//   border-radius: 5px;
// }

.color-plane {
  color: gray;
}

.color-train {
  color: green;
}

.color-bus {
  color: orange;
}

.color-car {
  color: red;
}

.color-boat {
  color: blue;
}

.color-link-city:hover {
  text-decoration: none;
}
.cancel-red {
  color: #D24D57;
}
