<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <title>Nomadsteps</title>
      <style>
      #body-table {
       font-family: sans-serif;
       font-size: 20px;
     }

     .btn-call {
       padding: 10px;
       width: 60%;
       background-color: #F62459;
       border-radius: 5px;
       color: white;
       font-weight: bold;
       text-align: center;
     }

     #logo {
       color: #F62459;
       font-weight: bold;
       font-size: 30px;
       font-family: "lobster", cursive;

     }

     .color-font {
       color: white;
       text-decoration: none;
     }

     .signature {
       margin-top: 50px;
     }



  </style>
</head>

<body>
  <table  border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="body-table">
    <tr>
      <td valign="top">
        <table align="center" border="0" cellpadding="20" cellspacing="0" width="600">
          <tr>
            <td valign="top">
              <p id="logo">
              <img src="https://res.cloudinary.com/dp8fx5icp/image/upload/v1479463763/nomadtrip/travel.png" alt="" />  NomadSteps
              </p>
            </td>
          </tr>
          <tr>
            <td valign="top">
                <p>Hello <%= @resource.email %>!</p>
                <p>You asked to change your password. You can do this through the link below.</p>

                <div class="btn-call">
                  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),  class:"color-font" %>
                </div>
                <p>If you didn't request this, please ignore this email.</p>
                <p>Your password won't change until you access the link above and create a new one.</p>

                <p class="signature">
                  See you soon !
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table align="center" border="0" cellpadding="20" cellspacing="0" width="600">
            <tr>
              <td>
                <a href="https://twitter.com/NomadSteps"><img src="https://res.cloudinary.com/dp8fx5icp/image/upload/v1479462737/nomadtrip/twitter.png" alt="" /></a>
              </td>
              <td>
                <a href="https://www.instagram.com/nomadstep/?hl=fr"><img src="https://res.cloudinary.com/dp8fx5icp/image/upload/v1479462544/nomadtrip/instagram-logo.png" alt="" /></a>
              </td>
              <td>
                <a href="https://www.facebook.com/Nomadsteps-311805982519040/"><img src="https://res.cloudinary.com/dp8fx5icp/image/upload/v1479462257/nomadtrip/facebook-logo-button.png" alt="" />
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </body>




<p></p>

<p></p>
